.page__footer{
 background-color: $colordark-grey-blue;
 padding-top: 38px;
 padding-bottom: 30px;
 position: relative;
}


.footer__btn{
  background: $colorwhite;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 95px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.footer__p{
text-align: center;
color: $colorwhite;
margin-top: 0;
}
.copy{
  margin-bottom: 0;
}
.heart{
  color:red;
}
