.secinsomnia{
  padding-left: 15px;
  padding-right: 15px;
}

.secinsomnia__p{
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  color: $colorlightblue;
  margin-top: 30px;

}
.secinsomnia__title{
  font-family: 'RobotoSlab', sans-serif;
  font-size: 24px;
  margin-top: 12px;
  line-height: 30px;
}

.secinsomnia__p2{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color:#4a4a4a;
  margin-top: 15px;
}

.sec__btn{
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $colorbright-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  transition: border-color ease 1s, box-shadow ease 1s;
  &:hover {
  border: solid 2px $colorcerulean;
  box-shadow: 1px 1px 9px black;
  }
}
.sec__btn:hover .enlgo{
  text-decoration: underline;
  color:$colorcerulean;

}
.enlgo{
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: $colorbright-orange;
  text-decoration: none;
  transition: color ease 1s;
}
@media all and (min-width: 768px) {
.secinsomnia{
  padding-left: 39px;
  padding-right: 39px;
}
.secinsomnia__p{
  font-size: 14px;
}
.secinsomnia__title{
font-size: 26px;
line-height: 45px;
}
.secinsomnia__p2{
font-size: 20px;
margin-top: 30px;
margin-bottom: 30px;
}
}
@media all and (min-width: 1280px) {
  .secinsomnia{
padding-left: 275px;
padding-right:275px;
  }
  .secinsomnia__p{
    font-size: 16px;
    margin-top: 60px;
  }
.secinsomnia__title{
font-size: 32px;
line-height: 45px;
}
  .secinsomnia__p2{
font-size: 20px;
width: 730px;
margin-top: 30px;
  }
  .sec__btn{
    bottom: 60px;
}
}
