.secreasons{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  text-align: center;
  background: #eff9ff;
  margin-top: 45px;
  padding-bottom: 150px;
  position: relative;
}

.secreasons__title{
  font-family: 'RobotoSlab',sans-serif;
  font-size: 24px;
  margin: 0;
}

.secreasons__list{
  list-style: none;
  padding: 0;
}
.list{

}
.list__title{
  font-family: 'RobotoSlab',sans-serif;
  font-size: 18px;
  margin-top: 45px;
  margin-bottom: 0px;
}

.list__p{
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  margin-top: 0;
}

.sec__secreasons__btn{
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $colorbright-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 45px;
  transition: background-color ease 1s, box-shadow ease 1s;
  &:hover {
    background-color: $colorcerulean;
    text-decoration: underline;
    box-shadow: 1px 1px 9px black;
  }
}

.reasonbtn{
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: $colorwhite;
}
@media all and (min-width:768px){
  .secreasons{
padding: 30px 40px 0;
  }
  .secreasons__title{
    font-size: 26px;
    margin: 0;
  }
  .list__title{
    font-size: 24px;
  }
  .list__p{
    font-size: 20px;
  }
  .sec__secreasons__btn{
    width: 210px;
    height: 45px;
    margin-top: 60px;
  }
  .secreasons__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 27px;
    margin:0;
  }
  .list__p{
    margin-top: 14px;
  }
}
@media all and (min-width: 1280px){
  .secreasons{
  padding: 60px 80px 165px;
  margin-top: 60px;
  text-align: center;
  }
  .secreasons__title{
    font-size: 32px;
    line-height: 45px;
    width: 360px;
    margin:0 auto;
  }
  .sec__secreasons__btn{
    width: 360px;
    margin-top: 60px;
    bottom: 45px;
}
.list__p{
  line-height: 30px;
  width: 350px;
  margin:0 auto;
}
}
