body{
  margin: 0;
}
.page__header{
  position: fixed;
}
.btn {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;

}
.btnmenu{
  align-self: center;
}
.page__main{

}
.hero{
  background-image: url("../images/cover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.hero__contenedor{
margin-top: 150px;
}
.hero__title{
font-size: 42px;
color: white;
font-family: 'RobotoSlab', sans-serif;
text-align: center;
text-transform: uppercase;
margin: 0;
}
.hero__parrafo{
  margin-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.hero__btn{
background: white;
width: 45px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: 53px;
}
.heroimg{
}
