@import "_variables.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_hero.scss";
@import "_seccion-secinsomnia.scss";
@import "_seccion-secreason.scss";
@import "_ejercici.scss";


body{
  margin: 0;
}
