.page__header {
  position: fixed;
  z-index: 1;
}

.btn {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: boton;
  animation-name: boton;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.btnmenu {
  -ms-flex-item-align: center;
  align-self: center;
}

.page__footer {
  background-color: #304268;
  padding-top: 38px;
  padding-bottom: 30px;
  position: relative;
}

.footer__btn {
  background: #ffffff;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 95px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.footer__p {
  text-align: center;
  color: #ffffff;
  margin-top: 0;
}

.copy {
  margin-bottom: 0;
}

.heart {
  color: red;
}

.hero {
  background-image: url("../images/cover.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.hero__contenedor {
  margin-top: 150px;
}

.hero__title {
  font-size: 42px;
  color: #ffffff;
  font-family: 'RobotoSlab', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  width: 290px;
  line-height: 55px;
}

.hero__parrafo {
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.hero__btn {
  background: #ffffff;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 53px;
}

.secinsomnia {
  padding-left: 15px;
  padding-right: 15px;
}

.secinsomnia__p {
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  color: #8ccbea;
  margin-top: 30px;
}

.secinsomnia__title {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 24px;
  margin-top: 12px;
  line-height: 30px;
}

.secinsomnia__p2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #4a4a4a;
  margin-top: 15px;
}

.sec__btn {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  -webkit-transition: border-color ease 1s, -webkit-box-shadow ease 1s;
  transition: border-color ease 1s, -webkit-box-shadow ease 1s;
  transition: border-color ease 1s, box-shadow ease 1s;
  transition: border-color ease 1s, box-shadow ease 1s, -webkit-box-shadow ease 1s;
}

.sec__btn:hover {
  border: solid 2px #0271bc;
  -webkit-box-shadow: 1px 1px 9px black;
  box-shadow: 1px 1px 9px black;
}

.sec__btn:hover .enlgo {
  text-decoration: underline;
  color: #0271bc;
}

.enlgo {
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #f26002;
  text-decoration: none;
  -webkit-transition: color ease 1s;
  transition: color ease 1s;
}

.secreasons {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  text-align: center;
  background: #eff9ff;
  margin-top: 45px;
  padding-bottom: 150px;
  position: relative;
}

.secreasons__title {
  font-family: 'RobotoSlab',sans-serif;
  font-size: 24px;
  margin: 0;
}

.secreasons__list {
  list-style: none;
  padding: 0;
}

.list__title {
  font-family: 'RobotoSlab',sans-serif;
  font-size: 18px;
  margin-top: 45px;
  margin-bottom: 0px;
}

.list__p {
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  margin-top: 0;
}

.sec__secreasons__btn {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: #f26002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 45px;
  -webkit-transition: background-color ease 1s, -webkit-box-shadow ease 1s;
  transition: background-color ease 1s, -webkit-box-shadow ease 1s;
  transition: background-color ease 1s, box-shadow ease 1s;
  transition: background-color ease 1s, box-shadow ease 1s, -webkit-box-shadow ease 1s;
}

.sec__secreasons__btn:hover {
  background-color: #0271bc;
  text-decoration: underline;
  -webkit-box-shadow: 1px 1px 9px black;
  box-shadow: 1px 1px 9px black;
}

.reasonbtn {
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

body {
  margin: 0;
}

@media all and (min-width: 768px) {
  .hero__title {
    font-size: 80px;
    width: 690px;
    line-height: 106px;
  }

  .hero__parrafo {
    font-size: 24px;
  }

  .hero__btn {
    bottom: 45px;
  }

  .secinsomnia {
    padding-left: 39px;
    padding-right: 39px;
  }

  .secinsomnia__p {
    font-size: 14px;
  }

  .secinsomnia__title {
    font-size: 26px;
    line-height: 45px;
  }

  .secinsomnia__p2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .secreasons {
    padding: 30px 40px 0;
  }

  .secreasons__title {
    font-size: 26px;
    margin: 0;
  }

  .list__title {
    font-size: 24px;
  }

  .list__p {
    font-size: 20px;
  }

  .sec__secreasons__btn {
    width: 210px;
    height: 45px;
    margin-top: 60px;
  }

  .secreasons__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 27px;
    margin: 0;
  }

  .list__p {
    margin-top: 14px;
  }
}

@media all and (min-width: 1280px) {
  .hero__title {
    font-size: 100px;
    width: 730px;
    line-height: 132px;
  }

  .hero__parrafo {
    font-size: 24px;
  }

  .hero__btn {
    bottom: 13px;
  }

  .secinsomnia {
    padding-left: 275px;
    padding-right: 275px;
  }

  .secinsomnia__p {
    font-size: 16px;
    margin-top: 60px;
  }

  .secinsomnia__title {
    font-size: 32px;
    line-height: 45px;
  }

  .secinsomnia__p2 {
    font-size: 20px;
    width: 730px;
    margin-top: 30px;
  }

  .sec__btn {
    bottom: 60px;
  }

  .secreasons {
    padding: 60px 80px 165px;
    margin-top: 60px;
  }

  .secreasons__title {
    font-size: 32px;
    line-height: 45px;
    width: 360px;
    margin: 0 auto;
  }

  .sec__secreasons__btn {
    width: 360px;
    margin-top: 60px;
    bottom: 45px;
  }

  .list__p {
    line-height: 30px;
    width: 350px;
    margin: 0 auto;
  }
}

@-webkit-keyframes boton {
  from {
    -webkit-transform: scale(100);
    transform: scale(100);
    opacity: 0;
    color: #ffffff;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes boton {
  from {
    -webkit-transform: scale(100);
    transform: scale(100);
    opacity: 0;
    color: #ffffff;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
